.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 100%; /* Defina a largura máxima do carrossel */
    margin: 0 auto; /* Centraliza o carrossel */
  }
  
  .slide {
    flex: 0 0 100%; /* Ocupa toda a largura do carrossel */
  }
  
  img {
    width: 100%;
    height: 400px;
    flex-grow: 1;
  }
  