.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .pizza-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .pizza-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .pizza-item img {
    width: 30px;
    height: 30px;
    height: auto;
    margin-bottom: 10px;
  }
  