<h2 class="cardapio">Cardápio de Pizzas</h2>
<div class="search-container">
    <form>
        <input type="text" placeholder="Buscar sabor de pizza" (input)="search($event)">
    </form>
</div>
<div class="container">
    <div class="pizza-list">

        <div class="pizza-item" *ngFor="let produto of produtos">
            <div class="container-item">
                <img [src]="produto.image_pizza" alt="{{ produto.nome_pizza }}">
                <h3>{{ produto.nome_pizza }}</h3>
                <p>{{ produto.descricao_pizza }}</p>
                <p>Preço: R$ {{ produto.preco_pizza}}</p>
                <button (click)="adicionarAoCarrinho(produto)">Adicionar ao Carrinho</button>
            </div>
        </div>

    </div>
</div>

<button class="btn-carrinho" (click)="mostrarCarrinho()">
    <img class="img-carrinho" src="../../../assets/cesta.png" alt="">
  </button>
