body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
header input{
  width: 25%;
}

h1 {
  font-size: 30px;
  margin: 0;
}

#searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img-port {
  width: 300px;
  height: 200px;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border-color: black;
  border: 0.5px solid black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.img-port:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.img-port:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 8px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.overlay::after {
  content: '';
  display: block;
  clear: both;
}

@media (max-width: 768px) {
  header input{
    width: 30%;
  }
  h1{
    font-size: 24px;
  }
  .flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  .img-port {
    width: 100%;
  }

  #searchInput {
    width: 100%;
    margin-bottom: 10px;
  }
}
