<section class="formulario">
  <div class="interface">
    <h2 class="titulo">Fale <span>Comigo</span></h2>
    <form action="POST">
      <input type="text" name="nome" id="nome" placeholder="Seu Nome:" required>
      <input type="text" name="email" id="email" placeholder="Seu Email:" required>
      <input type="text" name="celular" id="celular" placeholder="Seu Celular:">
      <textarea name="mensagem" id="mensagem" placeholder="Sua Mensagem" required></textarea>
      <div class="btn-enviar"><input type="submit" value="ENVIAR"></div>
    </form>
  </div>
</section>
