/* Estilo para centralizar o modal de edição */
#editarPizzaModal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px; /* Ajuste para posicionar o modal mais para baixo na tela */
}

#editarPizzaModal .modal-dialog {
  max-width: 500px; /* Largura máxima do modal */
  border: 2px solid #ff4500; /* Borda circular em laranja */
  border-radius: 15px; /* Raio da borda */
}

#editarPizzaModal .modal-content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

#editarPizzaModal .modal-body {
  background-color: #f8f9fa; /* Cor de fundo para o corpo do modal */
}

#editarPizzaModal .form-group {
  margin-bottom: 20px;
}

#editarPizzaModal .btn-primary {
  background-color: #e6761c; /* Botão salvar com cor laranja */
  border-color: #e6761c; /* Borda do botão */
}

#editarPizzaModal .btn-primary:hover {
  background-color: #ff4500; /* Cor mais escura ao passar o mouse */
  border-color: #ff4500;
}

#editarPizzaModal .alert-success {
  background-color: #d4edda; /* Cor de fundo para a mensagem de sucesso */
  border-color: #c3e6cb; /* Borda da mensagem de sucesso */
  color: #155724; /* Texto verde escuro */
}

#descricaoPizza {
  width: 400px; /* Largura do input */
  height: 100px; /* Altura do input */
  resize: none; /* Impede o redimensionamento do textarea pelo usuário */
}