.sign-up, .login {
    text-align: center;
    color: rgb(0, 0, 0);
}

.sign-up h1, .login h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color: green;
}

.auth-toggle-link{
    margin-top: 20px;
    color: green;
    font-size: 14px;
    text-align: left;
}