<div class="container">
    <h1>Localização do Camping Aventura</h1>
    <div class="map-container">
        <!-- Incorporar o mapa do Google Maps -->
        <iframe
            width="600"
            height="450"
            frameborder="0"
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=SUA_CHAVE_API&zoom=15&q=Latitude,Longitude">
        </iframe>
    </div>
    <div class="video-container">
        <!-- Incorporar o vídeo da rota -->
        <iframe
            width="600"
            height="338"
            src="https://www.youtube.com/embed/SEU_ID_DO_VIDEO"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>
</div>
