<div class="container">
    <h1>Localização do Camping São Pedro</h1>
    <div class="map-container">
        <!-- Incorporar o mapa do Google Maps -->
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.165222242457!2d-46.98738262382416!3d-22.271730315485517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c85b31e13378cf%3A0xcc7f2c766c54ab56!2sCamping%20S%C3%A3o%20Pedro!5e0!3m2!1spt-BR!2sbr!4v1714397692183!5m2!1spt-BR!2sbr"
            width="1200" height="338" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="video-container">
        <!-- Incorporar o vídeo da rota -->
        <iframe width="600" height="338" src="https://www.youtube.com/embed/SEU_ID_DO_VIDEO" frameborder="0"
            allowfullscreen>
        </iframe>
    </div>
</div>