.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.map-container,
.video-container {  
    margin-bottom: 50px;
}

.video-container iframe {
    width: 100%;
}
