/* Estilos para o header */
header {
  padding: 10px 20px;
  align-items: center;
  height: 35px;
  background-color: #333;
  color: #fff;
}

/* Estilos para o título */
.titulo h1 {
  margin: 0;
}

/* Estilos para a navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar nav ul li {
  margin-right: 10px;
}

.navbar nav ul li:hover {
  background-color: #555;
  transition: background-color 0.3s ease;
  border-radius: 25px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.interface {
  display: flex;
  justify-content: space-between;
}

/* Estilos para o botão do menu hamburguer */
.menu-btn {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Estilos para o navbaixo */
.navbaixo {
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  transition: max-height 1s ease-out, visibility 0.5s;
}

.navbaixo.active {
  max-height: 200px;
  /* Ajuste a altura conforme necessário */
  visibility: visible;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  header {
    height: auto;
    padding: 10px;
  }

  .titulo h1 {
    margin-bottom: 10px;
  }

  .navbar nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar nav ul {
    flex-direction: column;
  }

  .navbar nav ul li {
    margin-bottom: 5px;
  }

  .menu-btn {
    display: block;
  }

  .navbaixo nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbaixo nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbaixo nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .navbaixo nav ul li:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
    border-radius: 25px;
  }
}
