<header>
  <div class="titulo">
    <h1>Portfólio</h1>
  </div>
  <div class="navbar">
    <nav [class.active]="menuActive">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="projetos">Projetos</a></li>
        <li><a routerLink="certificados">Certificados</a></li>
        <li><a routerLink="sobreMim">Sobre mim</a></li>
        <li><a routerLink="contato">Contato</a></li>
      </ul>
    </nav>
  </div>
  <div class="hamburguer">
    <button class="menu-btn" (click)="toggleMenu()">&#9776;</button>
  </div>
</header>
