
<div class="container">
    <h1>Cadastro de Cliente</h1>
    <form >
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">

        <label for="sobrenome">Sobrenome:</label>
        <input type="text" id="sobrenome" name="sobrenome">

        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco">

        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade">

        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado" maxlength="2">

        <label for="celular">Celular:</label>
        <input type="tel" id="celular" name="celular">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email">

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">

        <button type="submit" >Cadastrar</button>
    </form>
</div>
