<section class="topo-do-site">
  <div class="interface">
    <div class="flex">
      <div class="txt-topo-site">
        <h1>Quem sou eu <span>?</span></h1>
        <p>
          Meu nome é Matheus, sou um desenvolvedor junior com experiência em
          Java, JavaScript e TypeScript, além de conhecimentos em Angular,
          Next.js e React. Tenho experiência em MySQL e PostgreSQL, ferramentas
          de desenvolvimento colaborativo e gerenciamento de projetos. Estou em
          busca de oportunidades nas áreas de Desenvolvimento Web e Java, onde
          posso aplicar meus conhecimentos e contribuir para projetos
          inovadores.
        </p>
        <div class="btn-contato">
          <a routerLink="contato">Entre em contato</a>
        </div>
      </div>
      <div class="img-topo-site">
        <img src="assets/img/foto.jpg" alt="Foto de Matheus">
      </div>
    </div>
  </div>
</section>
