.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.sobre {
  padding: 40px 4%;
}
.sobre .txt-sobre h2{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
.sobre .txt-sobre h2 span {
  color: #236579;
  display: block;
}
.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}
.btn-social img{
  width: 30px;
  margin: 0 10px;
}
.img-sobre img{
  border-radius: 20px;
}
