section.topo-do-site{
  padding: 40px 4%;
  ;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

section.topo-do-site h1{
  color: black;
  font-size: 42px;
  line-height: 40px;
}

section.topo-do-site h1 span{
  color: black;
}
