<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
  />
</head>
<section class="sobre">
  <div class="interface">
    <div class="flex">
      <div class="img-sobre">
        <img src="assets/img/foto.jpg" alt="Foto de Matheus" />
      </div>
      <div class="txt-sobre">
        <h2>MUITO PRAZER,<SPAn>SOU O MATHEUS SILVA</SPAn></h2>
        <P>
          Meu nome é Matheus, sou um desenvolvedor FullStack com experiência em
          Java, JavaScript e TypeScript, além de conhecimentos em Angular,
          Next.js e React.
        </P>
        <P
          >Tenho experiência em MySQL e PostgreSQL, ferramentas de
          desenvolvimento colaborativo e gerenciamento de projetos. Estou em
          busca de oportunidades nas áreas de Desenvolvimento Web e Java, onde
          posso aplicar meus conhecimentos e contribuir para projetos
          inovadores.</P
        >
        <div class="btn-social">
          <a href="https://github.com/TheuZCoder">
            <button>
              <i class="bi bi-github"></i>
            </button>
          </a>
          <a href="https://www.linkedin.com/in/matheus-silva-0b2798259/">
            <button>
              <i class="bi bi-linkedin"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
