<div class="aluguel-painel" *ngIf="carro">
  <h2>Alugar {{ carro.modelo_carro }}</h2>
  <form (ngSubmit)="alugarCarro()">
    <label for="dataLocacao">Data de Locação:</label>
    <input
      type="text"
      id="dataLocacao"
      [(ngModel)]="dataLocacao"
      bsDatepicker
      name="dataLocacao"
      required
      [bsConfig]="bsConfig"
    />
    <label for="dataEntrega">Data de Entrega:</label>
    <input
      type="text"
      id="dataEntrega"
      [(ngModel)]="dataEntrega"
      bsDatepicker
      name="dataEntrega"
      required
      [bsConfig]="bsConfig"
    />
    <p>Preço por dia: R$ {{ carro.preco_carro }}</p>
    <p>Preço total: R$ {{ calcularPrecoTotal() }}</p>
    <button type="submit">Confirmar Aluguel</button>
  </form>
  <button (click)="fecharPainel()">Cancelar</button>
</div>
