<div class="containerExterno">

  <div class="container">
    <h1>Resumo da Compra</h1>

    <div *ngIf="clienteLogado">
      <h3>Dados do Cliente</h3>
      <p>Nome: {{ clienteLogado.nome_cliente }}</p>
      <p>Telefone: {{ clienteLogado.telefone_cliente }}</p>
      <p>Endereço: {{ clienteLogado.endereco_cliente }}</p>
    </div>

    <hr>

    <h3>Produtos no Carrinho</h3>
    <div *ngFor="let produto of produtosCarrinho">
      <p>{{ produto.nome_pizza }} - R$ {{ produto.preco_pizza.toFixed(2).replace('.', ',') }}</p>
    </div>

    <hr>

    <p>Total: R$ {{ totalCompra.toFixed(2).replace('.', ',') }}</p>

    <button (click)="finalizarCompra()">Finalizar Compra</button>
  </div>
</div>
