/* Estilo para o botão "Comprar" */
.btn-comprar {
  background-color: #e6761c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-comprar:hover {
  background-color: #e6761c;
}

/* Ajustes no posicionamento do carrinho */
.carrinho-container {
  position: fixed;
  right: 0;
  height: 100%;
  bottom: auto;
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ff4500;
  z-index: 2000;
  overflow-y: auto;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.carrinho-container.show {
  transform: translateX(0);
}

.carrinho {
  margin-top: 10px;
}

.carrinho button {
  margin-left: 10px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  font-size: 24px;
  color: #000;
  font-weight: bold;
}
