<div class="carrinho-container" *ngIf="mostrarCarrinho" [class.show]="carrinhoService.mostrar">
  <div class="topContainer">
    <div class="carrinho">
      <button class="close-button" (click)="ocultarCarrinho()">
        <span class="close-icon">&times;</span>
      </button>
      <h2>Carrinho de Compras</h2>
    </div>
    <ul>
      <li *ngFor="let pizza of carrinhoService.produtos; let i = index">
        {{ pizza.nome_pizza }} - R$ {{ pizza.preco_pizza }}
        <button (click)="removerDoCarrinho(i)">Remover</button>
      </li>
    </ul>
    <p>Total: R$ {{ carrinhoService.total }}</p>
  </div>
  <div class="bottom-container">
    <button class="btn-comprar" (click)="realizarCompra()">Comprar</button>
  </div>
</div>
