footer {
    position: fixed; /* Fixar o footer */
    bottom: 0; /* Alinhar no final da página */
    left: 0; /* Alinhar à esquerda */
    width: 100%; /* Largura total */
    background-color: #236579; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
}
.interface{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.interface p{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
