header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff4500;
    color: white;
  }
  .logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo img {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    margin-right: 10px;
  }
  
  .logo h1 {
    font-size: 24px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  