/* Estilos para a seção topo-do-site */
section.topo-do-site {
  padding: 40px 4%;
  margin-top: 9%;
}

/* Estilos para o layout flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

/* Estilos para o título */
.topo-do-site h1 {
  color: black;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site h1 span {
  color: #236579;
}

/* Estilos para o parágrafo */
.topo-do-site p {
  color: black;
  margin: 40px 0;
}

/* Estilos para o botão de contato */
.btn-contato {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #236579;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 8px 0px #236579;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}

.btn-contato a {
  text-decoration: none;
  color: white;
}

.btn-contato:hover {
  background-color: #1a4c5a;
  box-shadow: 0px 0px 8px 0px #1a4c5a;
  transform: scale(1.1);
  text-decoration: none;
}

/* Estilos para a imagem no topo do site */
.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  border-radius: 120px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    gap: 20px;
  }

  .topo-do-site h1 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }

  .topo-do-site p {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
  }

  .btn-contato {
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .topo-do-site .img-topo-site img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
