<section class="topo-do-site">
  <div class="interface">
    <div class="flex">
      <div class="txt-topo-site">
        <h1>SEJA <span>BEM VINDO!</span></h1>
        <p>
          Olá, seja muito bem-vindo ao meu Portfólio! Aqui você encontrará
          um pouco sobre mim, minha jornada e paixões. Sou apaixonado por
          tecnologia e desenvolvimento, buscando sempre aprender e crescer nesse
          universo fascinante. Espero que juntos possamos explorar ideias,
          projetos e quem sabe, criar algo incrível. Fique à vontade para
          navegar e conhecer mais sobre o que faço.
        </p>
        <div class="btn-contato">
          <a routerLink="contato">Entre em contato</a>
        </div>
      </div>
      <div class="img-topo-site">
        <img src="assets/img/foto.jpg" alt="Foto de Matheus" />
      </div>
    </div>
  </div>
</section>
