<section class="portfolio">
  <div class="interface">
    <h2 class="titulo">MEUS <span>PROJETOS.</span></h2>
    <div class="flex">
      <div
        class="img-port"
        style="background-image: url(assets/img/petshop.png)"
      >
        <a href="https://siteprojetopetshop.vercel.app">
          <div class="overlay">Projeto Pet-Shop</div>
        </a>
      </div>
      <div
        class="img-port"
        style="background-image: url(assets/img/pizzaria2.png)"
      >
        <a href="https://angular-projects-virid.vercel.app">
          <div class="overlay">Projeto Pizzaria</div>
        </a>
      </div>
      <div
        class="img-port"
        style="background-image: url(assets/img/concessionaria.png)"
      >
        <a href="https://locadoracarro.vercel.app">
          <div class="overlay">Projeto Concessionaria</div>
        </a>
      </div>
    </div>
  </div>
</section>
