<section class="portfolio">
  <div class="interface">
    <h2 class="titulo">MEUS <span>PROJETOS.</span></h2>
    <div class="flex">
      <div class="img-port" style="background-image: url();">
      <div class="overlay">Projeto Pet-Shop</div>
    </div>
      <div class="img-port" style="background-image: url();">
      <div class="overlay">Projeto Pizzaria</div>
    </div>
      <div class="img-port" style="background-image: url();">
      <div class="overlay">Projeto Concessionaria</div>
    </div>
    </div>
  </div>
</section>
