<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="assets\Adesivos_page-0001.jpg" alt="Logo do Camping">
        </div>
        <div class="footer-info">
            <p>Endereço: Rua das Árvores, 123</p>
            <p>Telefone: (11) 1234-5678</p>
            <p>Email: contato@camping.com</p>
        </div>
        <div class="copyright">
            <p>© 2024 Todos os direitos reservados</p>
        </div>
    </div>
</footer>
