body{
    font-family: sans-serif;
}
.container {
    margin-left: 5%;
    margin-right: 5%;
}
.comom-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}
.form-input{ 
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid aliceblue;
    color: aliceblue;
}
.form-button {
    height: 35px;
    border: 1px solid aliceblue;
    cursor: pointer;
}

.error-p{
    color: red;
}
.message-p{
    color: green;
    text-align: center;
}
.carousel-caption{
    background-color: black;
    border-radius: 10px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 5px;
}

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: 20px;
}

button:disabled{
    cursor: not-allowed;
}

.max-width{
    width: 100%;
}